/*.*
!.gitignore
*.cache
*.log
*.sqlite3
**/.DS_Store
**/cache
**/log
archive/pc/content
archive/pc/mod_disabled
bin/x64/*.*
!bin/x64/dxgi.dll
!bin/x64/*.ini
bin/x64/CrashReporter
bin/x64/d3d12on7
bin/x64/LICENSE
BonusContent
engine
r6/cache
