/*.*
/Cyberpunk2077.exe*
/REDEngineErrorReporter.exe*
!.gitignore
!*.code-workspace
!*.json
launcher-configuration.json
!README.md
*.cache
*.exe
!engine/tools/scc.exe
*.log
*.sqlite3
**/.DS_Store
**/cache
**/log
archive/pc/content
bin/x64/*.*
!bin/x64/dxgi.dll
!bin/x64/*.ini
bin/x64/CrashReporter
bin/x64/d3d12on7
bin/x64/LICENSE
BonusContent
r6/cache
